body {
  background-color: #8f57fd;
  font-family: "Muli", sans-serif;
  margin: 0px;
}
.header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}
.header__img {
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
}
.header__menu {
  margin-right: 30px;
}
.header__menu ul {
  display: none;
  list-style: none;
  margin: 0 0 0 -14px;
  margin-right: 30px;
  padding: 0;
  position: absolute;
  text-align: right;
  width: 100px;
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu li {
  margin: 10px 0;
}
.header__menu li a {
  color: #fff;
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-right: 8px;
}
.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}
.header__menu--profile p {
  color: #fff;
  margin: 0;
}

.main {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
}
.main-content {
  text-align: center;
  width: 70%;
}
.main__title {
  color: #fff;
  font-size: 25px;
}
.categories__title {
  color: #fff;
  font-size: 16px;
  padding-left: 30px;
  position: absolute;
  width: calc(100% - 60px);
  /* width: 100%; */
}
.carousel {
  overflow: scroll;
  padding: 30px;
  position: relative;
  /* width: 100%; */
  width: calc(100% - 60px);
}
.carousel__container {
  margin: 70px 0 40px;
  padding-bottom: 10px;
  white-space: nowrap;
}
.carousel-item {
  background-color: palevioletred;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 250px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  transition: 450ms all;
  transform-origin: center left;
  width: 200px;
}
.carousel-item:hover .carousel-item__details {
  opacity: 1;
}
.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
  opacity: 1;
  transform: scale(1.5);
}
.carousel-item__img {
  height: 250px;
  object-fit: cover;
  width: 200px;
}
.carousel-item__details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  color: #fff;
  font-size: 10px;
  left: 0;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  /* top: 0; */
  transition: 450ms opacity;
}
.carousel-item__details:hover {
  opacity: 1;
}
.footer {
  align-items: center;
  background-color: #8f57fd;
  display: flex;
  height: 100px;
  width: 100%;
}
.footer > a {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 2px #fff;
  border-radius: 25px;
  color: #fff;
  outline: none;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
  width: 91%;
}
::placeholder {
  color: #fff;
}
.carousel::-webkit-scrollbar {
  width: 1em;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #864dfa;
}
